@using System.Web.Optimization
@using DotlessBundling
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render(BundleConfig.Styles)
@*    @Scripts.Render("~/bundles/javascript")*@
</head>
<body>
    @RenderBody()

@*    @Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
